.fb-customerchat1 {
  transition: 0.3s;
  border-radius: 50% 50%;
  padding:10px;
  right: 10px;
  bottom: 10px;
  margin: auto;
  position: fixed;
  background-color:darkslategray;
  width:50px;
  height:50px;
  color:firebrick
}

.needhelp {
  content:'Need Help';
  border-radius: 5px;
  background-color: black;
  color:rgb(235, 203, 155);
  position: fixed;
  top:45%;
  left:0px;
  writing-mode: vertical-rl;
  text-orientation:upright;
}

.subscribe{
  padding:5px;
  border-radius: 10px;
  writing-mode:horizontal-tb;
  text-orientation: sideways;
}
.success{
  display: none;
  color:chartreuse;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

